.thresholds-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #363636 !important; 
}

.thresholds-tabs .ant-tabs-ink-bar {
  position: absolute;
  background: dimgray;
  pointer-events: none;
}

.thresholds-button-edit {
  background-color: #ffffff !important;
  color: #0290d4 !important;
  margin: 0px !important;
  width: 100%;
}

.thresholds-button-submit {
  margin: 0px !important;
}
